<?xml version="1.0"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <appSettings>
      <!-- 設定說明 :
      adminID : 設定超級系統管理者
      adminPW :
      adminNAME : 設定超級系統管理者顯示的名稱 -->
      <add key="adminID" value="adminSC"/>
      <add key="adminPW" value="adminSC2003"/>
      <add key="adminNAME" value="双誠管理者"/>
    </appSettings>
    <connectionStrings>
      <add name="ConnectionString1"
      connectionString="Data Source=localhost;Initial Catalog=SC2003;Integrated Security=True"
      providerName="System.Data.SqlClient"/>
<!--
      <add name="ConnectionString1" 
      connectionString="Data Source=localhost;Initial Catalog=cht-career;User ID=cht-careerdbadm;Password=dbcht-career"
      providerName="System.Data.SqlClient"/>
-->
    </connectionStrings>
    <!--
    如需 web.config 變更的說明，請參閱 http://go.microsoft.com/fwlink/?LinkId=235367。
    您可以在 <httpRuntime> 標記上設定下列屬性。
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
    <system.web>
      <!-- 華碩使用SSL 試著加上這串，用來通過資安報告
    <httpCookies httpOnlyCookies="true" requireSSL="true" lockItem="true" /> 
    <compilation debug="false" targetFramework="4.6" defaultLanguage="c#"/>
    -->
      <compilation debug="false" targetFramework="4.0" defaultLanguage="c#"/>
      <globalization culture="zh-TW"/>
      <!-- AutoDetect, UseCookies   -->
      <sessionState cookieless="UseCookies" mode="StateServer" timeout="20"/>
      <!-- 如果是 .NET 4.0 要加上以下的語句在 <httpRuntime 中。 .NET 2.0就不能加!!
      requestValidationMode="2.0" 
    -->
      <httpRuntime targetFramework="4.0"
        maxRequestLength="2097150" executionTimeout="3600"
        useFullyQualifiedRedirectUrl="true"
        requestValidationMode="2.0"
        enableVersionHeader="false"
      />
      <!-- <authentication> 區段可以用來設定 ASP.NET 使用的安全性驗證模式，以識別連入的使用者。 -->
      <authentication mode="Windows"/>
      <!--
      <customErrors> 區段可以用來設定 
      在執行要求期間發生未處理 
      錯誤時所要執行的動作。具體來說，
      它可以讓開發人員設定要顯示的 HTML 錯誤網頁，
      以取代錯誤堆疊追蹤。
    <customErrors mode="Off"></customErrors>
    <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
        <error statusCode="403" redirect="NoAccess.htm" />
        <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
    -->
      <customErrors mode="RemoteOnly" redirectMode="ResponseRewrite"
      defaultRedirect="ERR.htm" />

      <pages controlRenderingCompatibilityVersion="4.0"/>
    </system.web>
    <system.codedom />

    <!-- 需要 system.webServer 區段才能在 Internet Information Services 7.0 下執行 ASP.NET AJAX。舊版的 IIS 則不需要。 -->
    <system.webServer>
      <security>
        <requestFiltering>
<!--修改服务器允许最大长度(1GB), 用于设置文件上传的最大允许大小(单位：bytes)
          <requestLimits maxAllowedContentLength="1073741824"/>
-->
          <requestLimits maxAllowedContentLength="2073741824"/>
        </requestFiltering>
      </security>

      <staticContent>
        <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
        <mimeMap fileExtension=".json" mimeType="application/json" />
<!--
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <mimeMap fileExtension=".webm" mimeType="video/webm" />
-->
      </staticContent>
      <httpProtocol>
        <customHeaders>
          <add name="X-Frame-Options" value="SAMEORIGIN" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
    <system.serviceModel>
      <bindings />
      <client />
    </system.serviceModel>
  </location>
</configuration>