    /* 2011.8.12 robCalendYM v2.0 for IE6/IE7/IE8/FireFox/Chrome **beg** */
    .robCalendYMStyle_table
    {
      border-collapse: collapse;
      margin-top: 0px;
      line-height:16px;
    }
    .robCalendYMStyle_YearTableTdTitle
    {
      color: #800000;
      background-color: #FFCC99;
      border: 1px solid #800000;
      padding: 4px 2px;
      cursor: default;
      text-align: center;
      font-family: Arial, 細明體, Helvetica, sans-serif;
      font-size: 12px;
      letter-spacing: 1px;
    }
    .robCalendYMStyle_YearTableTd
    {
      width: 30px;
      color: #800000;
      background-color: #FFE0A2;
      border: 1px solid #800000;
      padding: 4px 2px;
      cursor: pointer;
      text-align: center;
      font-family: Arial, 細明體, Helvetica, sans-serif;
      font-size: 12px;
      letter-spacing: 1px;
    }
    .robCalendYMStyle_YearTableTdSelected
    {
      width: 30px;
      color: #000000;
      background-color: #FF9B59;
      border: 1px solid #800000;
      padding: 4px 2px;
      cursor: default;
      text-align: center;
      font-family: Arial, 細明體, Helvetica, sans-serif;
      font-size: 12px;
      letter-spacing: 1px;
    }
    .robCalendYMStyle_MonthTableTdTitle
    {
      color: #006600;
      background-color: #66FFB3;
      border: 1px solid #006600;
      padding: 4px 2px;
      cursor: default;
      text-align: center;
      font-family: Arial, 細明體, Helvetica, sans-serif;
      font-size: 12px;
      letter-spacing: 1px;
    }
    .robCalendYMStyle_MonthTableTd
    {
      width: 30px;
      color: #006600;
      background-color: #C2FEB4;
      border: 1px solid #006600;
      padding: 4px 2px;
      cursor: pointer;
      text-align: center;
      font-family: Arial, 細明體, Helvetica, sans-serif;
      font-size: 12px;
      letter-spacing: 1px;
    }
    .robCalendYMStyle_MonthTableTdSelected
    {
      width: 30px;
      color: #006600;
      background-color: #8CD98C;
      border: 1px solid #006600;
      padding: 4px 2px;
      cursor: default;
      text-align: center;
      font-family: Arial, 細明體, Helvetica, sans-serif;
      font-size: 12px;
      letter-spacing: 1px;
    }
    /* 2011.8.12 robCalendYM v2.0 for IE6/IE7/IE8/FireFox/Chrome **end** */
