html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: $mainFont;
}
html,
body {
  font-size: 12px;
  line-height: 1.75;
  color: $darkBlack;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  line-height: 1.75;
  color: $darkBlack;
  letter-spacing: 0.1rem;
  text-align: justify;
  word-break: break-all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-size: 4.5rem;
}
h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 2.3rem;
}
h4 {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.6rem;
}
h6 {
  font-size: 1.3rem;
}
p {
  font-size: 1.3rem;
}
span {
  font-size: 1.3rem;
}
a {
  font-size: 1.3rem;
  text-decoration: none;
}

input,
button {
  // background-color:$buttonBg;
  color: white;
  // padding: 1.5rem 3rem;
  letter-spacing: 0.1rem;
  font-size: 1.3rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

// button:hover {
//   // background:linear-gradient(to bottom, #e40077 5%, #E84599 100%);
//   background-color: #e84599;
// }
button:active {
  position: relative;
  top: 1px;
}

button:focus {
  outline: 0;
}

// For Computer
@media (max-width: 980px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 1.55rem;
  }
  h5 {
    font-size: 1.5rem;
  }
  h6 {
    font-size: 1.4rem;
  }
  p {
    font-size: 1.4rem;
  }
  span {
    font-size: 1.4rem;
  }
  a {
    font-size: 1.4rem;
  }
}

// For Pad
@media (max-width: 767px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 1.4rem;
  }
  h5 {
    font-size: 1.2rem;
  }
  h6 {
    font-size: 1.2rem;
  }
  p {
    font-size: 1rem;
  }
  span {
    font-size: 1rem;
  }
  a {
    font-size: 1rem;
  }
}

// For Phone
@media (max-width: 480px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  a {
    line-height: 1.5;
  }
}

// For Pad & Comoputer
@media (min-width: 481px) {
}
